@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.call-btn {
    padding: 8px 50px;
    font-size: 20px;
    text-decoration: none !important;
    background-color: #6baeec;
    color: #fff;
    border-radius: 30px;
}

.call-btn:hover {
    font-weight: 600;
    font-size: 20px;
}

.mt-longer {
    margin-top: 50px !important;
}

.navbar-brand span {
    font-weight: 500;
}

.title-large {
    font-size: 30px;
    font-weight: 700;
    border-left: #2a2f2f 5px solid;
    border-radius: 5px 5px;
    padding-left: 5px;
}

/* Slider  */

.w3l-banner-slider-main {
    /*--/slider--*/
    /*--//slider--*/
    /*--//responsive design --*/
}

.w3l-banner-slider-main ol.carousel-indicators {
    margin: 0;
}

.w3l-banner-slider-main .carousel-item {
    min-height: 40em;
    position: relative;
    z-index: 1;
}

.w3l-banner-slider-main .carousel-item {
    background: url(../images/s1\ \(1\).jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item2 {
    background: url(../images/s2\ \(1\).jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item3 {
    background: url(../images/s5\ \(1\).jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

/* .w3l-banner-slider-main .carousel-item.item4 {
	background: url(../img/bra.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
} */

.w3l-banner-slider-main .carousel-item:before {
    content: "";
    background: rgba(16, 16, 16, 0.470588);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 115px;
    text-transform: uppercase;
    font-weight: 900 !important;
    line-height: 120px;
}

.w3l-banner-slider-main .carousel-caption p {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 200;
    /* opacity: 0.8; */
}

.w3l-banner-slider-main a.banner-btn.btn {
    display: inline-block;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 5px 13px;
    font-size: 16px;
    background-color: #fff;
    margin-top: 20px;
    color: #101d29;
}

.w3l-banner-slider-main a.banner-btn.btn:hover {
    background: #ff6768;
    color: #fff;
}

.w3l-banner-slider-main .b-ck {
    display: block;
}

.w3l-banner-slider-main .carousel-indicators {
    bottom: 7%;
    left: 0%;
    cursor: pointer;
    display: none;
}

.w3l-banner-slider-main .carousel-caption {
    text-align: left;
    margin: 0 auto;
    position: absolute;
    right: 15%;
    bottom: 18%;
    left: 15%;
    z-index: 10;
}

.w3l-banner-slider-main .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 40em;
}

.w3l-banner-slider-main .carousel-control {
    line-height: 40em;
}

.w3l-banner-slider-main .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}

.w3l-banner-slider-main .carousel-indicators .active {
    background: #03cce6;
    width: 30px;
    height: 3px;
}

.w3l-banner-slider-main .carousel-control-prev, .w3l-banner-slider-main .carousel-control-next {
    background: none;
    position: absolute;
    top: 42%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    /* opacity: 0.5; */
    transition: opacity 0.15s ease;
    height: 50px;
    width: 60px;
    padding: -10px;
    opacity: 0.9;
}

@media (max-width: 1080px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 100px;
        line-height: 110px;
    }
}

@media (max-width: 900px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 90px;
        line-height: 100px;
    }
}

@media (max-width: 767px) {
    .w3l-banner-slider-main .carousel-item {
        min-height: 30em;
    }
}

@media (max-width: 667px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 80px;
        line-height: 90px;
    }
    .w3l-banner-slider-main a.banner-btn.btn {
        padding: 12px 26px;
        font-size: 14px;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 70px;
        line-height: 80px;
    }
    .w3l-banner-slider-main .carousel-caption p {
        font-size: 15px;
    }
}

@media (max-width: 569px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 60px;
        line-height: 70px;
    }
}

@media (max-width: 490px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 50px;
        line-height: 60px;
    }
    .w3l-banner-slider-main .carousel-caption p {
        font-size: 14px;
    }
    .w3l-banner-slider-main .carousel-item {
        min-height: 26em;
    }
}

@media (max-width: 440px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .w3l-banner-slider-main .carousel-item {
        min-height: 22em;
    }
    .w3l-banner-slider-main .carousel-caption {
        bottom: 12%;
    }
}

/* @media (max-width: 395px) {
    .navbar-brand {
        font-size: 25px;
    }
    .hide-sm {
        display: none !important;
    }
} */

@media (max-width: 343px) {
    .caro_h3 {
        font-size: 26px !important;
        font-weight: 600;
    }
    .caro_h3_2 {
        font-size: 21px !important;
        font-weight: 800;
    }
}

@media (max-width: 333px) {
    .caro_h3 {
        font-size: 23px !important;
        font-weight: 600;
    }
    .caro_h3_2 {
        font-size: 19px !important;
        font-weight: 800;
    }
}

@media (max-width: 405px) {
    .banner-btn {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
}

/* Overview  */

.pos-center {
    margin: auto;
    width: 20%;
    padding: 10px;
    margin-top: 9%;
}

/* Featured project */

.featured-project span {
    font-size: 45px;
    font-weight: 600;
}

.featured-project h4 {
    font-size: 18px;
}

.btn-style {
    padding: 12px 35px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.5s ease-in;
    border-radius: 6px !important;
}

.transparent-btn {
    background: rgba(77, 89, 116, 0.87);
}

/* Testimonials */

.w3l-clients .testi-des {
    display: flex;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.w3l-clients blockquote q {
    font-size: 24px;
    line-height: 36px;
    color: var(--heading-color);
    font-weight: 600;
}

.w3l-clients a.comment-img {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.w3l-clients blockquote q::before {
    font-size: 50px;
    color: var(--primary-color);
    display: block;
    font-family: initial;
}

.w3l-clients.w3l-test blockquote q::before {
    font-size: 50px;
    color: var(--primary-color);
    display: inline-block;
    font-family: initial;
    margin-right: 10px;
}

.w3l-clients .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
}

.w3l-clients .testimonial img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.w3l-clients .testimonial .peopl {
    margin: 0;
    text-align: left;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    align-items: center;
}

.w3l-clients .testimonial .peopl h3, .w3l-clients .testimonial .people-info h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.w3l-clients p.indentity {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
    margin-top: 4px;
}

@media (max-width: 375px) {
    .w3l-clients blockquote q {
        font-size: 22px;
        line-height: 32px;
    }
}

/* Call for action  */

h2.title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}

.breadcrumbs-custom-path li a {
    color: #fff;
    opacity: .6;
}

.breadcrumbs-custom-path li a:hover {
    /* color: ; */
}

.breadcrumbs-custom-path li span.fa {
    font-size: 12px;
    vertical-align: 2px;
}

.breadcrumb-bg-contact {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(25, 25, 25, 0.7), rgba(0, 0, 0, 0.7)), url(../images/slide4.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Footer  */

.footer-0 {
    padding: 40px;
    z-index: 10;
    position: relative;
    background: #636363;
    background: -webkit-linear-gradient(to right, #a2ab58, #636363);
    background: linear-gradient(to right, #a2ab58, #636363);
}

/* .hr {
    border-bottom: #03cce6 1px solid;
} */

.copyright {
    color: rgb(243, 238, 238);
    font-size: 12px;
    margin: 10px;
}

address {
    color: #fff;
    padding-top: 10px;
}