@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap");

.border-l {
  border-left: #1d4350 3px solid;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 200px) and (max-width: 576px) {
  .xs-title {
    font-size: 26px !important;
  }
  .carousel-caption .caro_h3 {
    font-size: 26px !important;
    line-height: normal !important;
    font-weight: 100;
  }

  .w3l-banner-slider-main .carousel-item {
    min-height: 18.5em !important;
    /* position: relative;
  z-index: 1; */
  }
}

@media (min-width: 577px) and (max-width: 1338px) {
  .xs-title {
    font-size: 26px !important;
  }
  .carousel-caption .caro_h3 {
    font-size: 40px !important;
    line-height: normal !important;
    font-weight: 100;
  }

  .w3l-banner-slider-main .carousel-item {
    min-height: 23em !important;
    /* position: relative;
  z-index: 1; */
  }
}

@media (min-width: 1339px) and (max-width: 1700px) {
  .carousel-caption .caro_h3 {
    font-size: 46px !important;
    line-height: normal !important;
    font-weight: 100;
  }

  .w3l-banner-slider-main .carousel-item {
    min-height: 23em !important;
    /* position: relative;
  z-index: 1; */
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) {
  /* .xs-title {
    font-size: 26px !important;
  } */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .xs-title {
    font-size: 14px !important;
  } */
}

nav {
  font-family: "Roboto Slab", serif;
}
.pnav-bg {
  background: #fffc00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #fffc00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #fffc00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.caro_h3 {
  color: #fffc00 !important; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #ffffff,
    #fffc00
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #ffffff,
    #fffc00
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .testimonial */

.owl-carousel .owl-item .custo-img-res img {
  width: 80px;
  margin: auto;
}

.customers_grid {
  text-align: center;
  padding: 40px 20px;
  transition: all 0.5s ease 0s;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.custo_grid h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;
  display: inline-block;
}

.custo_grid span {
  color: #999;
  padding-left: 5px;
}

.owl-nav {
  top: 46%;
  position: absolute;
  width: 100%;
}

button.owl-next {
  position: absolute;
  right: -80px;
  outline: none;
}

button.owl-prev {
  position: absolute;
  left: -80px;
  outline: none;
}

button.owl-next span,
button.owl-prev span {
  background: #124f8f;
  color: #fff;
  width: 40px;
  display: block;
  line-height: 40px;
  height: 40px;
  font-size: 22px;
  border-radius: 50%;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

button.owl-next span i {
  padding-left: 2px;
}

button.owl-prev span i {
  padding-right: 2px;
}

button.owl-prev.disabled span,
button.owl-prev.disabled span:hover,
button.owl-next.disabled span,
button.owl-next.disabled span:hover {
  background: #e5e5e5;
  color: #a1a1a1;
}

button.owl-next span:hover,
button.owl-prev span:hover {
  background: #49c0b6;
  color: #fff;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.ratings span.fa {
  color: #49c0b6;
}

/* End .testimonial */

.read-more {
  display: inline-block;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 5px 13px;
  font-size: 16px;
  background-color: #7ff022;
  margin-top: 20px;
  color: black;
}

.read-more:hover {
  background-color: #a2ab58;
}

.navbar-brand span {
  padding-left: 5px;
  font-weight: 800;
  font-size: 23px !important;
}

.nav-link-menu {
  line-height: 1.33;
  font-weight: 700;
  color: #fff;
}

.nav-link-menu:hover {
  color: rgb(14, 11, 11) !important;
  border-bottom: #5fb8db 5px solid;
  font-weight: 600;
  line-height: 1rem;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.navbar-puple {
  background: #ba5370;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f4e2d8, #ba5370);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f4e2d8, #ba5370);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-family: "Poppins", sans-serif;
}

.call-btn {
  padding: 8px 50px;
  font-size: 20px;
  text-decoration: none !important;
  /* background-color: #6baeec; */
  color: #fff;
  border-radius: 30px;
  background: #6a9113;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #141517, #6a9113);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #141517, #6a9113);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.call-btn:hover {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.mt-longer {
  margin-top: 50px !important;
}

.navbar-brand span {
  font-weight: 500;
}

.title-large {
  font-size: 40px;
  font-weight: 700;
  border-left: #dce35b 7px solid;
  /* border-radius: 5px 5px; */
  padding-left: 5px;
  color: #4e54c8; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Slider  */

.w3l-banner-slider-main {
  /*--/slider--*/
  /*--//slider--*/
  /*--//responsive design --*/
}

.w3l-banner-slider-main ol.carousel-indicators {
  margin: 0;
}

.w3l-banner-slider-main .carousel-item {
  min-height: 30em;
  position: relative;
  z-index: 1;
}

.w3l-banner-slider-main .carousel-item {
  background: url(../images/Banners/1-Slide-1.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item2 {
  background: url(../images/Banners/2-Slide-2.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item3 {
  background: url(../images/Banners/3-Slide-3.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item:before {
  content: "";
  background: rgba(16, 16, 16, 0.470588);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.w3l-banner-slider-main .carousel-caption h3 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 900 !important;
  line-height: 80px;
  margin-bottom: 0.5rem;
  color: #ccccb2;
  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #757519, #ccccb2);
  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #757519, #ccccb2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.w3l-banner-slider-main .carousel-caption p {
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 200;
  /* opacity: 0.8; */
}

.w3l-banner-slider-main a.banner-btn.btn {
  display: inline-block;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 5px 13px;
  font-size: 16px;
  background-color: #7ff022;
  margin-top: 20px;
  color: black;
}

.w3l-banner-slider-main a.banner-btn.btn:hover {
  background: #ff6768;
  color: #fff;
}

.w3l-banner-slider-main .b-ck {
  display: block;
}

.w3l-banner-slider-main .carousel-indicators {
  bottom: 7%;
  left: 0%;
  cursor: pointer;
  display: none;
}

.w3l-banner-slider-main .carousel-caption {
  text-align: left;
  margin: 0 auto;
  position: absolute;
  right: 15%;
  bottom: 18%;
  left: 15%;
  z-index: 10;
}

.w3l-banner-slider-main .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40em;
}

.w3l-banner-slider-main .carousel-control {
  line-height: 40em;
}

.w3l-banner-slider-main .carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.w3l-banner-slider-main .carousel-indicators .active {
  background: #03cce6;
  width: 30px;
  height: 3px;
}

.w3l-banner-slider-main .carousel-control-prev,
.w3l-banner-slider-main .carousel-control-next {
  background: none;
  position: absolute;
  top: 42%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  /* opacity: 0.5; */
  transition: opacity 0.15s ease;
  height: 50px;
  width: 60px;
  padding: -10px;
  opacity: 0.9;
}

@media (min-width: 1495px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 100px;
    line-height: 110px;
  }
}

@media (min-width: 1044px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 70px;
    line-height: 80px;
  }
}

@media (min-width: 664px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 900px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 90px;
    line-height: 100px;
  }
}

@media (max-width: 899px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 767px) {
  .w3l-banner-slider-main .carousel-item {
    min-height: 30em;
  }
}

@media (min-width: 667px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 80px;
    line-height: 90px;
  }
  .w3l-banner-slider-main a.banner-btn.btn {
    padding: 12px 26px;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 70px;
    line-height: 80px;
  }
  .w3l-banner-slider-main .carousel-caption p {
    font-size: 15px;
  }
}

@media (max-width: 571px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 569px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 490px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 50px;
    line-height: 60px;
  }
  .w3l-banner-slider-main .carousel-caption p {
    font-size: 14px;
  }
  .w3l-banner-slider-main .carousel-item {
    min-height: 26em;
  }
}

@media (max-width: 440px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .w3l-banner-slider-main .carousel-item {
    min-height: 22em;
  }
  .w3l-banner-slider-main .carousel-caption {
    bottom: 12%;
  }
}

@media (max-width: 343px) {
  .caro_h3 {
    font-size: 26px !important;
    font-weight: 600;
  }
  .caro_h3_2 {
    font-size: 21px !important;
    font-weight: 800;
  }
}

@media (max-width: 333px) {
  .caro_h3 {
    font-size: 23px !important;
    font-weight: 600;
  }
  .caro_h3_2 {
    font-size: 19px !important;
    font-weight: 800;
  }
}

@media (max-width: 405px) {
  .banner-btn {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}

/* Overview  */

.pos-center {
  margin: auto;
  width: 150%;
  /* border: 3px solid green; */
  padding: 10px;
}

@media (max-width: 516px) {
  .pos-center {
    margin: auto;
    width: 90%;
    padding: 10px;
  }
}

@media (min-width: 511px) {
  .pos-center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}

/* Featured project */

.featured-project span {
  font-size: 45px;
  font-weight: 600;
}

.featured-project h4 {
  font-size: 18px;
}

.btn-style {
  padding: 12px 35px;
  color: rgb(10, 10, 10);
  background: #d4ec21 !important;
  border: none !important;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.5s ease-in;
  border-radius: 6px !important;
}

.transparent-btn {
  background: rgba(77, 89, 116, 0.87);
}

/* Testimonials */

.w3l-clients .testi-des {
  display: flex;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.w3l-clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
}

.w3l-clients a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.w3l-clients blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
}

.w3l-clients.w3l-test blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: inline-block;
  font-family: initial;
  margin-right: 10px;
}

.w3l-clients .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}

.w3l-clients .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.w3l-clients .testimonial .peopl {
  margin: 0;
  text-align: left;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  align-items: center;
}

.w3l-clients .testimonial .peopl h3,
.w3l-clients .testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.w3l-clients p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
}

@media (max-width: 375px) {
  .w3l-clients blockquote q {
    font-size: 22px;
    line-height: 32px;
  }
}

/* Call for action  */

h2.title {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.breadcrumbs-custom-path li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
}

.breadcrumbs-custom-path li a {
  color: #fff;
  opacity: 0.6;
}

.breadcrumbs-custom-path li a:hover {
  /* color: ; */
}

.breadcrumbs-custom-path li span.fa {
  font-size: 12px;
  vertical-align: 2px;
}

.breadcrumb-bg-contact {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/Banners/bg2.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.breadcrumb-bg-about {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/about.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* min-height: 300px !important; */
}

.breadcrumb-bg-service {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/services.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.breadcrumb-bg-singleblog {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/slide3.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 300px !important;
}

.breadcrumb-bg-single {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/singleblog.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.breadcrumb-bg-news {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/slide3.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 300px !important;
}

.breadcrumb-bg-contact2 {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/slide2.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Footer  */

.footer-0 {
  padding: 40px;
  z-index: 10;
  position: relative;
  background: #636363;
  background: -webkit-linear-gradient(to right, #a2ab58, #636363);
  background: linear-gradient(to right, #a2ab58, #636363);
}

/* Services  */

.service-card:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.service-card {
  border: none;
}

/* Footer  */

.w3l-copyright #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
  background: #f79d00;
}

.w3l-footer-29-main {
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.w3l-footer-29-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.w3l-footer-29-main a.navbar-brand:hover {
  color: #fff;
}

.w3l-footer-29-main h6.footer-title-29 {
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 600;
  position: relative;
  color: #fff;
}

.footer-title-29 {
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 15px;
  font-weight: 600;
  position: relative;
  color: rgb(35, 32, 37);
}

.w3l-footer-29-main ul li a {
  text-decoration: none;
  color: #fff !important;
}

.w3l-footer-29-main a {
  text-decoration: none;
}

.w3l-footer-29-main .footer-list-29 ul li,
.w3l-footer-29-main
  .midd-footer-29:nth-child(1)
  .footer-list-29
  ul
  li:last-child {
  list-style: none;
  margin-bottom: 10px;
}

.w3l-footer-29-main .footer-list-29 ul li:last-child {
  margin-bottom: 0px;
}

.w3l-footer-29-main p {
  font-size: 17px;
  line-height: 26px;
  color: #fff;
}

.resourses-link .res {
  line-height: 35px !important;
  color: #fff;
  word-break: break-all;
}

.w3l-footer-29-main .footer-list-29 ul li a,
.w3l-footer-29-main .footer-list-29 ul li p,
.w3l-copyright .footer-list-29 ul li a,
.w3l-footer-29-main a {
  font-size: 17px;
  line-height: 26px;
  color: #f3f3f3;
}

.w3l-footer-29-main .footer-list-29 ul li a:hover,
.w3l-copyright .footer-list-29 ul li a:hover,
.w3l-footer-29-main a:hover {
  color: var(--primary-color);
}

.main-social-footer-29 a {
  margin-right: 10px;
  color: #161411;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}

.main-social-footer-29 a:hover {
  background: #f79d00;
  transition: 0.3s;
  color: #fff;
}

.footer-list-29 ul li span.fa {
  width: 25px;
}

.w3l-copyright .copy-footer-29 a {
  color: #fff;
}

.w3l-copyright .copy-footer-29 a:hover {
  color: #fff;
}

.w3l-copyright {
  /* padding: 0.5em 0; */
  background: #1d4350;
  border-top: 1px solid rgb(255 255 255 / 5%);
}

.w3l-copyright ul li {
  list-style: none;
  padding: 8px;
}

.w3l-copyright ul li a {
  text-decoration: none;
  color: #fff !important;
  font-size: 16px !important;
}

.w3l-copyright ul li a:hover {
  color: #f79d00 !important;
}

.w3l-footer-29-main .footer-29 form {
  margin-top: 25px;
  position: relative;
}

.w3l-footer-29-main .footer-post a {
  font-weight: 500;
  color: #ccc;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 4px;
  display: inline-block;
}

.w3l-footer-29-main .footer-post a:hover {
  color: #eee;
}

.w3l-footer-29-main .map-iframe-ft iframe {
  -webkit-filter: var(--iframe-filter);
  -moz-filter: var(--iframe-filter);
  -ms-filter: var(--iframe-filter);
  -o-filter: var(--iframe-filter);
  filter: var(--iframe-filter);
  height: 200px;
  border-radius: var(--border-radius);
}

.w3l-copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

@media (max-width: 992px) {
  .w3l-copyright .copy-footer-29 {
    text-align: center;
  }
  .w3l-footer-29-main .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }
  .w3l-footer-29-main ul.list-btm-29 {
    text-align: center;
    margin-top: 10px;
  }
  .w3l-footer-29-main h6.footer-title-29 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .w3l-copyright .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 415px) {
  .w3l-footer-29-main .footer-list-29 ul li,
  .w3l-footer-29-main
    .midd-footer-29:nth-child(1)
    .footer-list-29
    ul
    li:last-child {
    margin-bottom: 8px;
  }
  .w3l-footer-29-main a.navbar-brand {
    font-size: 26px;
  }
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: 0.1em;
}

.fa-linkedin:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

/* Blog  */

.w3l-blogpost-content {
  /* background: #cacaca6c; */
}

.card-radius {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.blog-details a {
  text-decoration: none;
}

.w3l-blogpost-content a.blog-desc {
  font-size: 1.2rem;
  line-height: 1.33;
  font-weight: 700;
  display: inline-block;
  color: var(--heading-color);
  margin: 1rem 0;
}

.w3l-blogpost-content a.blog-desc:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.w3l-blogpost-content .card,
.w3l-blogpost-content .card-header {
  border: none;
  background-color: var(--bg-color);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  border-radius: 5px !important;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.w3l-blogpost-content .card:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.w3l-blogpost-content .card-body.blog-details {
  padding: 25px;
}

.w3l-blogpost-content .card img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.w3l-blogpost-content .author {
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 20px;
}

.w3l-blogpost-content ul.blog-meta li a {
  font-size: 18px;
  color: var(--heading-color);
  font-weight: 600;
  line-height: 28px;
}

.w3l-blogpost-content .list1 span.fa {
  font-size: 20px;
  width: 80px;
  height: 55px;
  line-height: 55px;
  background: var(--btn-bg);
  color: #718096;
  text-align: center;
  border-top-left-radius: var(--border-radius-full);
  border-bottom-left-radius: var(--border-radius-full);
}

.w3l-blogpost-content .list1 {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background: var(--bg-color);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  border-radius: var(--border-radius-full);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.w3l-blogpost-content a.topics-list {
  display: block;
}

.w3l-blogpost-content h4 {
  font-weight: 600;
  color: var(--font-color);
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0px;
  padding-left: 20px;
}

.w3l-blogpost-content .list1:hover span.fa {
  background: var(--primary-color);
  color: #fff;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.w3l-blogpost-content .list1:hover h4 {
  color: var(--primary-color);
}

.w3l-blogpost-content .sponsers a {
  color: var(--font-color);
  letter-spacing: 0.5px;
  margin-top: 2px;
  font-size: 14px;
}

.w3l-blogpost-content .sponsers a:hover {
  color: var(--primary-color);
}

/* About Page  */

.hny-title {
  font-size: 30px;
  line-height: 48px;
  font-weight: 600;
  position: relative;
}

.sub-title,
.sub-title-1 {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  padding-left: 70px;
  color: #48ad20;
}

.sub-title:before,
.sub-title-1::before {
  content: "";
  display: block;
  width: 55px;
  height: 3px;
  background-color: #48ad20;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
}

.mt-7 {
  margin-top: 6.5rem;
}

/* .accordion {
  background-color: rgb(243, 223, 223);
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 3px;
}

.pactive,
.accordion:hover {
  background-color: #ccc;
} */

.panel {
  padding: 0 10px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.team-member .picture {
  background-color: #f2f2f2;
  border: 7px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 225px;
  height: 225px;
  margin: 0 auto;
  border-radius: 50%;
}

.team-member .picture:hover img {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.team-member .picture:hover .mask {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  background-color: lawngreen;
}

.team-member .picture:hover .mask .team-member-icons {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.team-member .picture img {
  margin: 0 auto;
  width: 100%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.team-member .picture .mask {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.team-member .picture .mask .team-member-icons {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  display: table;
  margin: 90px auto;
}

.team-member .picture .mask .team-member-icons a {
  background-color: #a5a5a5;
  border-radius: 50%;
  display: block;
  float: left;
  height: 34px;
  line-height: 32px;
  margin: 0 5px;
  width: 34px;
}

.team-member .picture .mask .team-member-icons a i {
  color: #fff;
}

.team-title {
  margin: 25px 0 0px;
  font-size: 24px;
  color: var(--heading-color);
  font-weight: 600;
  display: block;
}

.team-social-link a {
  margin-right: 10px;
  color: #131414;
  background-color: #48ad20 !important;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}

.team-social-link a:hover {
  background-color: #d1f504 !important;
  color: #fff;
}

/* Service Page  */

/* Contact Page  */

.contact-info a {
  text-decoration: none;
}

.contact-info-icons a {
  margin-right: 10px;
  color: #161411;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: rgb(241, 200, 125);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}

.contact-info-icons a:hover {
  background: #f79d00;
  transition: 0.3s;
  color: #fff;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 30.25%;
  position: relative;
  height: 0;
}

@media (max-width: 576px) {
  .map-responsive {
    padding-bottom: 50.25%;
  }
}

@media (max-width: 376px) {
  .map-responsive {
    padding-bottom: 70.25%;
  }
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;
}

.contact-icons i {
  margin-right: 10px;
  color: #161411;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: rgb(147, 255, 58);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}

.contact-icons a {
  text-decoration: none;
}
